header
  .logo-container
    .logo-text HungryPanda
  
  .feedback-container
    |+7 985 
    span 282 65 32
    .feedback-mask

.hamburger#speak
  .text Меню
  .h-line-box
    .h-line.h-line-1
    .h-line.h-line-2
    .h-line.h-line-3
    .h-line.h-line-4

    .h-line.h-line-5
    .h-line.h-line-6

    

.version-control
  span Ру
  a(href="#") En