.main-menu
  .mm-line.mm-line-1
  .mm-line.mm-line-2
  .main-menu-mask
  nav
    ul
      each val in ["Главная","Кто я","Стек","Развитие","Проекты"]
        li
          a(href="#") 
            = val