$blackColor: #333333;

$grayColor: #A5A5A5;

$whiteColor: #ffffff;

$yellowColor: #D4AF93;

$orangeColor: #F47721;

$grayColorLite: #EFEFEF;

$greenColor: #a6ff00;

$standartSize: 20px;

$middleSize: 25px;

$largeSize: 68px;



$lineIndent: 90px;