doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header

		// main-section

		.main-section
			// menu
			include default/menu.pug
			// menu
			.ms-line.ms-line-1
			.ms-line.ms-line-2
			.ms-line-move-1
			.ms-line.ms-line-3
			.gradient-box.gradient-box-1
			.gradient-box.gradient-box-2
			.gradient-box.gradient-box-3
			#meteor
			canvas.noise
			.main-section-center
				h1 
					|Разработка 
					span сайтов
				.msc-text
					|Разработка сайтов под ключ, верстка, шаблонизация, дизайн, сайты для мобильных устройств, разработка анимаций для сайта.
			.mouse
				.dot
		// main-section




		// footer
		include default/footer.pug
		// footer

