doctype html
html
	body
		// head
		include default/head.pug 
		// head
		canvas#canvas
			| test

	script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js")
	script(src="../js/dat.gui.min.js")
	script(src="../js/common-3d.js")