@font-face {
	font-family: "regular";
	src: url("../fonts/DINPro-CondReg.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "bold";
	src: url("../fonts/DINPro-CondBold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "light";
	src: url("../fonts/DINPro-CondLight_0.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "medium";
	src: url("../fonts/DINPro-CondMedium.otf");
	font-weight: normal;
	font-style: normal;
}